<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="Cake" version="0.19.2" />
	<package id="GitVersion.Commandline" version="4.0.0-beta0012" />
	<package id="gitlink" version="3.1.0" />
	<package id="vswhere" version="2.2.7" />
    	<package id="nunit.consolerunner" version="3.7.0" />
    	<package id="cake.incubator" version="1.5.0" />
</packages>
